<menu>
    <ul>
        <li>
            <a asp-page="index">Home</a>
            <a asp-page="about">Sobre</a>
            <a asp-page="login">Login</a>
            <a asp-page="categories">Categorias</a>
        </li>
    </ul>
</menu>